#  Pandas

Pandas is an open-source Python library used for data manipulation and analysis. It provides powerful tools to work with structured data, such as tabular data (like spreadsheets or SQL tables) and time-series data.

**Key Features of Pandas**
1. Data Structures:
    - **Series**: A one-dimensional labeled array (like a column in Excel).
    - **DataFrame**: A two-dimensional labeled table (like an Excel sheet or SQL table).
    - **Panel**: A three-dimensional data structure (less common, replaced by other solutions like xarray).
1. Data Manipulation:
    - Filter, slice, and subset data.
    - Handle missing data (NaN) effectively.
    - Reshape and pivot datasets.
1. Data Cleaning:
    - Replace, fill, or drop missing or incorrect values.
    - Detect and remove duplicate entries.
1. Integration:
    - Load data from various file formats like CSV, Excel, JSON, SQL, etc.
    - Export data to these formats.
1. Powerful Aggregation:
    - Grouping, summarizing, and applying custom functions for analysis.
1. Time-Series Support:
    - Perform operations on time-indexed data (resampling, shifting, rolling).

**Why Use Pandas?**
- It simplifies data preparation tasks, which are crucial before analysis or visualization.
- Makes it easy to perform exploratory data analysis (EDA).
- Integrates seamlessly with other Python libraries like NumPy, Matplotlib, and Scikit-learn.
- Reduces the complexity of working with datasets compared to raw Python lists or dictionaries.

### Series

A **Pandas Series** is a one-dimensional, labeled array capable of holding any data type, such as integers, floats, strings, or Python objects. It is similar to a column in an Excel spreadsheet or a single dimension in NumPy arrays, but with the added functionality of labels (indices) for each element.

**Key Characteristics of a Series**
- **Index**: Each element in a Series has a label (index) by default starting from 0. Custom indices can also be used.
- **Data Types**: A Series can store data of any type, such as integers, floats, strings, or even Python objects.
- **Homogeneity**: Unlike lists, all elements in a Series are of the same data type, similar to NumPy arrays.

**Syntax:**

```pandas.Series(data, index=index)```
- **data**: The data to store (list, array, scalar value, or dictionary).
- **index**: (Optional) Custom labels for the Series.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
series1 = pd.Series([1,2,3])
series1

In [ ]:
series1= pd.Series(np.array([13,4,2]))
series1

In [ ]:
type(series1)

In [ ]:
series2 = pd.Series([13,4,2],index=['S1','S2','S2'])
series2

Index

In [ ]:
prices = [10.70, 10.86, 10.74, 10.71, 10.79]
shares = pd.Series(prices)
shares

In [ ]:
days = ['Mon', 'Tue', 'Wed', 'Thur', 'Fri']
shares = pd.Series(prices, index=days)
shares

In [ ]:
# Examin Index
shares.index

In [ ]:
shares.index[4]

In [ ]:
shares.index[:4]

In [ ]:
shares.index[-4:]

In [ ]:
print(shares.index.name)

In [ ]:
shares.index.name = 'weekdays'
shares

In [ ]:
shares.index[2] = 'Wednesday'

In [ ]:
shares.index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
shares

### DataFrame

A **Pandas DataFrame** is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table and is the most commonly used data structure in Pandas for data manipulation and analysis.

**Key Characteristics of a DataFrame**
1. **Tabular Structure**:
    - Rows represent individual records.
    - Columns represent attributes or features of the data.
1. **Labeled Axes**:
    - Each row and column has a label (index for rows and column names for columns).
1. **Heterogeneous Data**:
    - A DataFrame can contain columns with different data types (e.g., integers, floats, strings).
1. **Size-Mutable**:
    - Rows and columns can be added, modified, or removed.
1. **Built-in Methods**:
    - Includes methods for cleaning, filtering, grouping, and analyzing data.

**Syntax:**
```pandas.DataFrame(data, index=index, columns=columns)```
- **data**: The data to populate the DataFrame (list, dictionary, array, or another DataFrame).
- **index**: (Optional) Custom row labels.
- **columns**: (Optional) Custom column labels

In [ ]:
#Dataframe - 2D labelled array, row and col index, tabular, structured data

df = pd.DataFrame([[1,"Karthik"],[2,"Nikhil"],[3,"Anurabh"]])
df

In [ ]:
type(df)

DataFrame From List

In [ ]:
data = [
    [1,"Karthik"],
    [2,"Nikhil"],
    [3,"Anurabh"],
    [4,"Juhi"]]

index=['a','b','c','d']

df=pd.DataFrame(data, index=index, columns=["Roll No", "Name"])
df

Basic Function

In [ ]:
df.count()

In [ ]:
# give you information on the height of your DataFrame.

len(df)

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
df.ndim

In [ ]:
# Returns the number of elements in the DataFrame.
df.size

In [ ]:
#Returns the actual data in the DataFrame as an NDarray
print(df.values)
type(df.values)

DataFrame from Dict

In [ ]:
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Create dictionary my_dict with three key:value pairs
my_dict = {'country': names, 'drives_right': dr, 'cars_per_cap': cpc}

# Build a DataFrame cars from my_dict
cars = pd.DataFrame(my_dict)

print(cars)

In [ ]:
# Definition of row_labels
cars.index = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']
cars

Read CSV File

In [ ]:
cars = pd.read_csv("data/cars.csv")
cars

In [ ]:
cars = pd.read_csv("data/cars.csv", index_col=0)
cars

In [ ]:
cars.head()

In [ ]:
cars.tail()

Dataset info and shape

In [ ]:
cars.info()

In [ ]:
cars.axes

### Select Data

Columns

In [ ]:
cars

In [ ]:
cars['cars_per_cap']

In [ ]:
type(cars['country'])

In [ ]:
cars[['country', 'drives_right']]

In [ ]:
type(cars[['country']])

Row Access

In [ ]:
cars

In [ ]:
cars[2:5]

loc

In [ ]:
# Row as pandas series

cars.loc['IN']

In [ ]:
cars.loc[]['IN','US','EG']

In [ ]:
# Rows & Columns
cars.loc[['IN','US','EG'] , ['country','drives_right']]

In [ ]:
cars.loc[:, ['country','drives_right']]

iloc

In [ ]:
cars

In [ ]:
cars.loc[['AUS']]

In [ ]:
cars.iloc[[1]]

In [ ]:
cars.iloc[[1,4,3]]

In [ ]:
cars.loc[['AUS','JAP','IN'],['country','drives_right']]

In [ ]:
cars.iloc[[1,2,3],[1,2]]

In [ ]:
cars.iloc[:4,:2]

Filtering

In [ ]:
pop = pd.read_csv('data/brics.csv', index_col=0)
pop

In [ ]:
# pop['area']
# pop.loc[:, 'area']
pop.iloc[:,2]

In [ ]:
exp = pop['area'] > 8 
exp

In [ ]:
~ (pop['area'] < 13)

In [ ]:
pop[ ~exp ]

In [ ]:
exp = np.logical_and(pop["area"] > 8, pop["area"] < 10)
exp

In [ ]:
pop[ exp ]

In [ ]:
exp = (pop["area"] > 8) & (pop["area"] < 10)
exp

In [ ]:
exp = pop["area"].between(8,10, inclusive='neither')
exp

Iteration

In [ ]:
cars = pd.read_csv("data/cars.csv", index_col=0)
cars

In [ ]:
for val in cars:
    print(val)

In [ ]:
for idx, row in cars.iterrows():
    print(idx, row['cars_per_cap'])

In [ ]:
for idx, row in cars.iterrows():
    print(idx, "\t: ", row['country'])

In [ ]:
for idx, row in cars.iterrows():
    cars.loc[idx, 'COUNTRY'] = row['country'].upper()

cars

In [ ]:
# insted of for loop apply method can also be used to do the same.

cars = pd.read_csv("data/cars.csv", index_col=0)
cars

In [ ]:
cars['COUNTRY'] = cars['country'].apply(str.upper)
cars

### Reading data from file

Import form flat file

In [ ]:
file = 'data/titanic.csv'
df = pd.read_csv(file)
df.head()

In [ ]:
data = pd.read_csv(file, nrows=5, header=None)

# Build a numpy array from the DataFrame
data_array = data.values
print(data_array)

In [ ]:
print(type(data_array))

Import from excel file

In [ ]:
# you have to install openpyxl module
# open your terminal and type the following command

# !pip install openpyxl

In [ ]:

file = 'data/battledeath.xlsx'

# Load spreadsheet
xl = pd.ExcelFile(file)

print(xl.sheet_names)

In [ ]:
df = xl.parse(1)

In [ ]:
df.head()

# Cleaning Data

Missing Value

In [ ]:
df = pd.DataFrame(
    np.random.randn(5, 3), 
    index=['a', 'c', 'e', 'f', 'h'],
    columns=['one', 'two', 'three'] )
df

In [ ]:
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df

In [ ]:
# Check for missing value: isnull()

print(df['one'].isnull())

In [ ]:
# Check for missing value: notnull()

print(df['one'].notnull())

In [ ]:
# sum the value in column: one

df.one.sum()

In [ ]:
df

In [ ]:
# Replaced NaN with '0'
print(df.one.fillna(0))

In [ ]:
# Fill NA Forward pad/ffill

print(df.ffill())

In [ ]:
# Fill NA Backward backfill/bfill

print(df.bfill())

In [ ]:
# Drop NaN rows

print(df.dropna())

In [ ]:
df

In [ ]:
# Drop NaN columns
# axis = 1 -> Column
# axis = 0 -> Row

print(df.dropna(axis=0))

In [ ]:
df = pd.read_csv('data/literary_birth_rate.csv', sep=';')
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df['Country '].count()

In [ ]:
df.columns

In [ ]:
df = df.rename(columns={'Country ':'country','Continent ':'continent','female literacy':'female_literacy'})
df.columns

In [ ]:
df.info()

In [ ]:
print(df.describe())

In [ ]:
df.Continent.value_counts(dropna=False)

In [ ]:
df.country.value_counts(dropna=False).head()

In [ ]:
df.fertility.value_counts(dropna=False).head()

**Melting**

Melting is a process in Pandas where you transform a wide-format DataFrame into a long-format DataFrame. This is particularly useful when preparing data for analysis or visualization that requires a specific structure.

**In a melted DataFrame:**

- Each row represents a single observation.
- Columns that previously held multiple variables are now combined into two or more columns:
    - A column for variable names.
    - A column for the corresponding values.

**Syntax:**

```pd.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value')```

**Parameters:**
- **frame**: The DataFrame to melt.
- **id_vars**: Columns that should remain as identifiers and not be melted.
- **value_vars**: Columns to melt into rows (default is all columns except id_vars).
- **var_name**: Name of the column created for variable names.
- **value_name**: Name of the column created for values (default is 'value').

In [ ]:
airquality = pd.read_csv('data/airquality.csv')

# Print the head of airquality
print(airquality.head())
print(len(airquality))

In [ ]:
# Melt airquality
airquality_melt = pd.melt(frame=airquality, id_vars=['Month', 'Day'])
print(airquality_melt.head())
print(len(airquality_melt))

In [ ]:
# Melt airquality
airquality_melt = pd.melt(
    frame=airquality,
    id_vars=['Month', 'Day'],
    var_name='measurement',
    value_name='reading')
    
print(airquality_melt.head())

**Pivot Table**

A **pivot table** in Pandas is a way to summarize, aggregate, and reorganize data in a DataFrame. It allows you to transform a long-format DataFrame into a summary table, using rows and columns for grouping and applying aggregation functions to calculate metrics.

It is particularly useful for analyzing and reporting data, similar to Excel pivot tables.

**Syntax:**

```pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False)```

**Parameters:**
- **data**: The DataFrame to pivot.
- **values**: Column(s) to aggregate.
- **index**: Keys to group by on the rows.
- **columns**: Keys to group by on the columns.
- **aggfunc**: Aggregation function (default is mean but can be sum, count, min, max, etc.).
- **fill_value**: Value to replace missing values.
- **margins**: If True, adds totals for rows and columns.

In [ ]:
# Pivot airquality_melt
airquality_pivot = airquality_melt.pivot_table(index=['Month', 'Day'], columns='measurement', values='reading')

print(airquality_pivot.head())
print(airquality_pivot.tail())
print(len(airquality_pivot))

In [ ]:
# Reset the index of airquality_pivot
airquality_pivot = airquality_pivot.reset_index()

print(airquality_pivot.head())
print(airquality.head())

Split the column

In [ ]:
tb = pd.read_csv('data/tb.csv')
tb

In [ ]:
tb_melt = pd.melt(frame=tb, id_vars=['country', 'year'])
tb_melt

In [ ]:
# Create the 'gender' column
tb_melt['gender'] = tb_melt.variable.str[0]

# Create the 'age_group' column
tb_melt['age_group'] = tb_melt.variable.str[1:]

# Print the head of tb_melt
print(tb_melt.head())

In [ ]:
ebola = pd.read_csv('data/ebola.csv')
ebola

In [ ]:
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='type_country', value_name='counts')
ebola_melt

In [ ]:
# Create the 'str_split' column
ebola_melt['str_split'] = ebola_melt.type_country.str.split('_')
ebola_melt

In [ ]:
# Create the 'type' column
ebola_melt['type'] = ebola_melt.str_split.str.get(0)

# Create the 'country' column
ebola_melt['country'] = ebola_melt.str_split.str.get(1)

print(ebola_melt.head())

Concatenating

In [ ]:
uber1 = pd.read_csv('data/uber/uber1.csv')
uber2 = pd.read_csv('data/uber/uber2.csv')
uber3 = pd.read_csv('data/uber/uber3.csv')

In [ ]:
uber = pd.concat([uber1, uber2, uber3])
print(uber.shape)
print(uber.head())

In [ ]:
uberx = pd.read_csv('data/uber/*.csv')

In [ ]:
uber.loc[98,:]

In [ ]:
uber = pd.concat([uber1, uber2, uber3], ignore_index=True)
uber.loc[98,:]

In [ ]:
# Iterating and concatenating all file matches using glob method

import glob

In [ ]:
pattern = 'data/uber/*.csv'
csv_files = glob.glob(pattern)
csv_files

In [ ]:
df_list = []

for csv in csv_files:
    df = pd.read_csv(csv)
    df_list.append(df)

uber = pd.concat(df_list, ignore_index=True)

print(uber.shape)
print(uber.head())

Converting data types

In [ ]:
tips = pd.read_csv('data/tips.csv')

print(tips.head())

print("\n\n")
print(tips.info())

In [ ]:
# Convert the sex column to type 'category'
tips.sex = tips.sex.astype('category')

# Convert the smoker column to type 'category'
tips.smoker = tips.smoker.astype('category')

# Print the info of tips
print(tips.info())

Categorical data
- Converting categorical data to ‘category’ dtype:
- Can make the DataFrame smaller in memory
- Can make them be utilized by other Python libraries for analysis

In [ ]:
# Convert 'total_bill' to a numeric dtype
tips['total_bill'] = pd.to_numeric(tips['total_bill'], errors='coerce')

# Convert 'tip' to a numeric dtype
tips['tip'] = pd.to_numeric(tips['tip'], errors='coerce')

# Print the info of tips
print(tips.info())

Function

In [ ]:
tips = pd.read_csv('data/tips.csv')

def recode_sex(sex_value):
    if sex_value == 'Male':
        return 1   
    elif sex_value == 'Female':
        return 0
    else:
        return np.nan

tips['sex_recode'] = tips.sex.apply(recode_sex)

tips.head()

Dropping duplicate data

In [ ]:
billboard = pd.read_csv('data/billboard.csv')
billboard.head()

In [ ]:
tracks = billboard[['year','artist','track','time']]

# Print info of tracks
print(tracks.info())

In [ ]:
# Drop the duplicates: tracks_no_duplicates
tracks_no_duplicates = tracks.drop_duplicates()

# Print info of tracks
print(tracks_no_duplicates.info())

Fill Missing Value

In [ ]:
airquality = pd.read_csv('data/airquality.csv')
airquality.info()

In [ ]:
# Calculate the mean of the Ozone column: oz_mean
oz_mean = airquality.Ozone.mean()

# Replace all the missing values in the Ozone column with the mean
airquality['Ozone'] = airquality.Ozone.fillna(oz_mean)

# Print the info of airquality
print(airquality.info())

### Groupby

In [ ]:
sales = pd.DataFrame(
	{
	'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
	'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
	'bread': [139, 237, 326, 456],
	'butter': [20, 45, 70, 98]
	}
)

sales

In [ ]:
sales['weekday'] == 'Sun'

In [ ]:
sales.loc[sales['weekday'] == 'Sun']

In [ ]:
# Split the data, apply the function and finally combine the result

sales.groupby('weekday').count()

In [ ]:
sales

In [ ]:
print(sales.groupby('weekday'))

In [ ]:
sales.groupby('weekday').groups

In [ ]:
sales_g = sales.groupby('city')
sales_g

In [ ]:
print(sales_g.groups)
print(type(sales_g.groups))
print(sales_g.groups.keys())

In [ ]:
# Groupby and Sum
sales.groupby('weekday')['bread'].sum()

In [ ]:
# Do the sum of multiple column

sales.groupby('weekday')[['bread','butter']].sum()

In [ ]:
sales

In [ ]:
print(sales.groupby(['city','weekday']).groups)

In [ ]:
# multi-level index

sales.groupby(['city','weekday']).mean()

In [ ]:
sales

In [ ]:
# Do groupby on Series

customers = pd.Series(['Dave','Alice','Bob','Alice'])
customers

In [ ]:
sales

In [ ]:
sales.groupby(customers)['butter'].sum()

Categorical data

In [ ]:
sales['weekday'].unique()

In [ ]:
sales['weekday'] = sales['weekday'].astype('category')
sales['weekday']

Groupby and aggregation

In [ ]:
sales.groupby('city')[['bread','butter']].max()

In [ ]:
# Multiple aggregation
sales.groupby('city')[['bread','butter']].agg(['max','sum'])

In [ ]:
sales.groupby('weekday')[['bread', 'butter']].agg(['max','min'])

In [ ]:
# Custom aggregation function

def range1(s):
    return s.max() - s.min()

In [ ]:
sales.groupby('weekday')[['bread', 'butter']].agg(range1)

In [ ]:
sales.groupby(customers)[['bread', 'butter']].agg({'bread':'sum', 'butter':range1})

### Query pandas dataframe

In [ ]:
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
courses = pd.DataFrame(technologies)
courses

In [ ]:
spark = courses.query("Courses == 'Spark'")
spark

In [ ]:
# using variable

value = 'Spark'
spark = courses.query("Courses == @value")
spark

In [ ]:
courses

In [ ]:
# course = courses.query("Courses == @value")

courses.query("Courses == 'Spark'", inplace=True)
courses

In [ ]:
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
courses = pd.DataFrame(technologies)
courses

In [ ]:
print(courses.query("Courses != 'Spark'"))

In [ ]:
print(courses.query("Courses in ('Spark','PySpark')"))

In [ ]:
values=['Spark','PySpark']
print(courses.query("Courses in @values"))

In [ ]:
values=['Spark','PySpark']
print(courses.query("Courses not in @values"))

In [ ]:
# Query by multiple conditions

print(courses.query("Fee >= 23000 and Fee <= 24000"))

In [ ]:
# By using lambda function

print(courses.apply(lambda row: row[courses['Courses'].isin(['Spark','PySpark'])]))

In [ ]:
# Other examples you can try to query rows
courses[courses["Courses"] == 'Spark']

In [ ]:
courses.loc[courses['Courses'] == value]

In [ ]:
courses.loc[courses['Courses'] != 'Spark']

In [ ]:
courses.loc[courses['Courses'].isin(values)]

In [ ]:
courses.loc[~courses['Courses'].isin(values)]

In [ ]:
courses.loc[(courses['Discount'] >= 1000) & (courses['Discount'] <= 2000)]

In [ ]:
courses.loc[(courses['Discount'] >= 1300) & (courses['Fee'] >= 23000 )]

In [ ]:
# Select based on value contains
print(courses[courses['Courses'].str.contains("P")])

In [ ]:
# Select after converting values
print(courses[courses['Courses'].str.lower().str.contains("spark")])

In [ ]:
#Select startswith
print(courses[courses['Courses'].str.startswith("P")])

In [ ]:
courses.pop('Discount')

In [ ]:
courses